In [1]:
# install neccessary dependencies
%pip install sqlalchemy
%pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/site-packages (1.4.23)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.6/site-packages (from sqlalchemy) (3.7.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.6/site-packages (from sqlalchemy) (1.0.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/site-packages (from importlib-metadata->sqlalchemy) (3.4.1)
WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/site-packages (2.9.1)
WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import dependencies
from sklearn.preprocessing import LabelEncoder
from sqlalchemy import create_engine
from config import dbConnectionString
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [3]:
engine = create_engine(dbConnectionString)

#import dataframe from SQL database
df = pd.read_sql_query('select * from "cardioData"',con=engine)
df = df.drop(columns = ['index', 'id'])
df

,age,gender,height,weight,cardiovascular,BMI,ap_hi,ap_lo,cholestrol,gloucose,smoke,alchohol,active
0,50.4,Female,168.0,62.0,False,23,110,80,normal,normal,False,False,True
1,55.4,Male,156.0,85.0,True,46,140,90,well above normal,normal,False,False,True
2,51.7,Male,165.0,64.0,True,25,130,70,well above normal,normal,False,False,False
3,47.9,Male,156.0,56.0,False,20,100,60,normal,normal,False,False,False
4,60.0,Male,151.0,67.0,False,30,120,80,above normal,above normal,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63911,52.7,Female,168.0,76.0,False,34,120,80,normal,normal,True,False,True
63912,61.9,Male,158.0,126.0,True,100,140,90,above normal,above normal,False,False,True
63913,52.2,Female,183.0,105.0,True,60,180,90,well above normal,normal,False,True,False
63914,61.5,Male,163.0,72.0,True,32,135,80,normal,well above normal,False,False,False
63915,56.3,Male,170.0,72.0,False,30,120,80,above normal,normal,False,False,True

In [4]:
le = LabelEncoder()
df2 = df.copy()
df2

,age,gender,height,weight,cardiovascular,BMI,ap_hi,ap_lo,cholestrol,gloucose,smoke,alchohol,active
0,50.4,Female,168.0,62.0,False,23,110,80,normal,normal,False,False,True
1,55.4,Male,156.0,85.0,True,46,140,90,well above normal,normal,False,False,True
2,51.7,Male,165.0,64.0,True,25,130,70,well above normal,normal,False,False,False
3,47.9,Male,156.0,56.0,False,20,100,60,normal,normal,False,False,False
4,60.0,Male,151.0,67.0,False,30,120,80,above normal,above normal,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63911,52.7,Female,168.0,76.0,False,34,120,80,normal,normal,True,False,True
63912,61.9,Male,158.0,126.0,True,100,140,90,above normal,above normal,False,False,True
63913,52.2,Female,183.0,105.0,True,60,180,90,well above normal,normal,False,True,False
63914,61.5,Male,163.0,72.0,True,32,135,80,normal,well above normal,False,False,False
63915,56.3,Male,170.0,72.0,False,30,120,80,above normal,normal,False,False,True

In [5]:
#female = 0, male = 1
df2['gender'] = le.fit_transform(df2['gender'])
df2

,age,gender,height,weight,cardiovascular,BMI,ap_hi,ap_lo,cholestrol,gloucose,smoke,alchohol,active
0,50.4,0,168.0,62.0,False,23,110,80,normal,normal,False,False,True
1,55.4,1,156.0,85.0,True,46,140,90,well above normal,normal,False,False,True
2,51.7,1,165.0,64.0,True,25,130,70,well above normal,normal,False,False,False
3,47.9,1,156.0,56.0,False,20,100,60,normal,normal,False,False,False
4,60.0,1,151.0,67.0,False,30,120,80,above normal,above normal,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63911,52.7,0,168.0,76.0,False,34,120,80,normal,normal,True,False,True
63912,61.9,1,158.0,126.0,True,100,140,90,above normal,above normal,False,False,True
63913,52.2,0,183.0,105.0,True,60,180,90,well above normal,normal,False,True,False
63914,61.5,1,163.0,72.0,True,32,135,80,normal,well above normal,False,False,False
63915,56.3,1,170.0,72.0,False,30,120,80,above normal,normal,False,False,True

In [6]:
normal_dic = {
    "normal" : 0,
    "above normal" : 1,
    "well above normal" : 2,
}

true_false_dic = {
    True : 1,
    False : 0,
}

df2['cardiovascular'] = df2['cardiovascular'].apply(lambda x : true_false_dic[x])
df2['smoke'] = df2['smoke'].apply(lambda x : true_false_dic[x])
df2['alchohol'] = df2['alchohol'].apply(lambda x : true_false_dic[x])
df2['active'] = df2['active'].apply(lambda x : true_false_dic[x])

df2['cholestrol'] = df2['cholestrol'].apply(lambda x : normal_dic[x])
df2['gloucose'] = df2['gloucose'].apply(lambda x : normal_dic[x])
df2

,age,gender,height,weight,cardiovascular,BMI,ap_hi,ap_lo,cholestrol,gloucose,smoke,alchohol,active
0,50.4,0,168.0,62.0,0,23,110,80,0,0,0,0,1
1,55.4,1,156.0,85.0,1,46,140,90,2,0,0,0,1
2,51.7,1,165.0,64.0,1,25,130,70,2,0,0,0,0
3,47.9,1,156.0,56.0,0,20,100,60,0,0,0,0,0
4,60.0,1,151.0,67.0,0,30,120,80,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63911,52.7,0,168.0,76.0,0,34,120,80,0,0,1,0,1
63912,61.9,1,158.0,126.0,1,100,140,90,1,1,0,0,1
63913,52.2,0,183.0,105.0,1,60,180,90,2,0,0,1,0
63914,61.5,1,163.0,72.0,1,32,135,80,0,2,0,0,0
63915,56.3,1,170.0,72.0,0,30,120,80,1,0,0,0,1

In [7]:
# set X and y values
X = df2.drop(['cardiovascular', 'BMI'], 1).values
y = df2['cardiovascular'].values

## Drop a few features

In [8]:
df2

,age,gender,height,weight,cardiovascular,BMI,ap_hi,ap_lo,cholestrol,gloucose,smoke,alchohol,active
0,50.4,0,168.0,62.0,0,23,110,80,0,0,0,0,1
1,55.4,1,156.0,85.0,1,46,140,90,2,0,0,0,1
2,51.7,1,165.0,64.0,1,25,130,70,2,0,0,0,0
3,47.9,1,156.0,56.0,0,20,100,60,0,0,0,0,0
4,60.0,1,151.0,67.0,0,30,120,80,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63911,52.7,0,168.0,76.0,0,34,120,80,0,0,1,0,1
63912,61.9,1,158.0,126.0,1,100,140,90,1,1,0,0,1
63913,52.2,0,183.0,105.0,1,60,180,90,2,0,0,1,0
63914,61.5,1,163.0,72.0,1,32,135,80,0,2,0,0,0
63915,56.3,1,170.0,72.0,0,30,120,80,1,0,0,0,1

In [9]:
X = df2.drop(['cardiovascular', 'BMI', 'gender', 'cholestrol', 'gloucose', 'smoke', 'alchohol', 'active'], 1).values
y = df2['cardiovascular'].values

In [10]:
X[0]

array(['50.4', 168.0, 62.0, 110, 80], dtype=object)

In [11]:
# split data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9, stratify=y)

scaler= StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# neural net
input_features = len(X_train_scaled[0])


nn_model = tf.keras.models.Sequential()

# first layer
nn_model.add(tf.keras.layers.Dense(units=10, input_dim=input_features, activation="sigmoid"))

# second layer
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))

# output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# check the structure
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                60
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 181
Trainable params: 181
Non-trainable params: 0
_________________________________________________________________

In [13]:
len(X_train_scaled[0])

5

In [14]:
# compile model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# train model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=40)

model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 47937 samples
Epoch 1/40
47937/47937 [==============================] - 6s 125us/sample - loss: 0.6040 - accuracy: 0.6969
Epoch 2/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5738 - accuracy: 0.7097
Epoch 3/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5729 - accuracy: 0.7116
Epoch 4/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5725 - accuracy: 0.7110
Epoch 5/40
47937/47937 [==============================] - 5s 114us/sample - loss: 0.5721 - accuracy: 0.7111
Epoch 6/40
47937/47937 [==============================] - 6s 115us/sample - loss: 0.5716 - accuracy: 0.7110
Epoch 7/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5712 - accuracy: 0.7111
Epoch 8/40
47937/47937 [==============================] - 6s 117us/sample - loss: 0.5707 - accuracy: 0.7110
Epoch 9/40
47937/47937 [==============================] - 5s 114us/sample - loss: 0.5702 - accuracy: 0.7108
Epoch 10/40
47937/47937 [==============================] - 6s 115us/sample - loss: 0.5695 - accuracy: 0.7113
Epoch 11/40
47937/47937 [==============================] - 5s 110us/sample - loss: 0.5691 - accuracy: 0.7108
Epoch 12/40
47937/47937 [==============================] - 6s 116us/sample - loss: 0.5686 - accuracy: 0.7116
Epoch 13/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5681 - accuracy: 0.7117
Epoch 14/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5678 - accuracy: 0.7116
Epoch 15/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5675 - accuracy: 0.7130
Epoch 16/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5672 - accuracy: 0.7116
Epoch 17/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5669 - accuracy: 0.7125
Epoch 18/40
47937/47937 [==============================] - 5s 110us/sample - loss: 0.5668 - accuracy: 0.7128
Epoch 19/40
47937/47937 [==============================] - 5s 114us/sample - loss: 0.5665 - accuracy: 0.7130
Epoch 20/40
47937/47937 [==============================] - 5s 110us/sample - loss: 0.5664 - accuracy: 0.7124
Epoch 21/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5663 - accuracy: 0.7129
Epoch 22/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5662 - accuracy: 0.7128
Epoch 23/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5660 - accuracy: 0.7129
Epoch 24/40
47937/47937 [==============================] - 5s 110us/sample - loss: 0.5659 - accuracy: 0.7128
Epoch 25/40
47937/47937 [==============================] - 5s 114us/sample - loss: 0.5658 - accuracy: 0.7129
Epoch 26/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5656 - accuracy: 0.7133
Epoch 27/40
47937/47937 [==============================] - 5s 115us/sample - loss: 0.5656 - accuracy: 0.7128
Epoch 28/40
47937/47937 [==============================] - 6s 118us/sample - loss: 0.5656 - accuracy: 0.7139
Epoch 29/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5655 - accuracy: 0.7135
Epoch 30/40
47937/47937 [==============================] - 6s 117us/sample - loss: 0.5655 - accuracy: 0.7138
Epoch 31/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5652 - accuracy: 0.7134
Epoch 32/40
47937/47937 [==============================] - 6s 121us/sample - loss: 0.5652 - accuracy: 0.7140
Epoch 33/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5651 - accuracy: 0.7140
Epoch 34/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5651 - accuracy: 0.7140
Epoch 35/40
47937/47937 [==============================] - 5s 114us/sample - loss: 0.5651 - accuracy: 0.7129
Epoch 36/40
47937/47937 [==============================] - 5s 111us/sample - loss: 0.5649 - accuracy: 0.7134
Epoch 37/40
47937/47937 [==============================] - 5s 112us/sample - loss: 0.5649 - accuracy: 0.7130
Epoch 38/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5648 - accuracy: 0.7129
Epoch 39/40
47937/47937 [==============================] - 6s 117us/sample - loss: 0.5648 - accuracy: 0.7143
Epoch 40/40
47937/47937 [==============================] - 5s 113us/sample - loss: 0.5647 - accuracy: 0.7146
15979/15979 - 1s - loss: 0.5613 - accuracy: 0.7173
Loss: 0.5613454642507861, Accuracy: 0.7172539234161377

In [15]:
# Save model info
nn_model.save_weights('nn_model/nn_model.h5')
model_json = nn_model.to_json()
with open("nn_model/nn_model.json", "w") as json_file:
    json_file.write(model_json)

In [19]:
# Save scalar info
import numpy as np

means = scaler.mean_ 
vars = scaler.var_   

np.save('nn_model/scaler_means', means)
np.save('nn_model/scalar_var', means)