In [1]:
# load in dependancies
import pandas as pd
import numpy as np

In [ ]:
#read in csv into a dataframe
df = pd.read_csv('cdi.csv', delimiter = ';')

In [7]:
#read columns in a list
df.columns.to_list()

['YearStart',
 'YearEnd',
 'LocationAbbr',
 'LocationDesc',
 'DataSource',
 'Topic',
 'Question',
 'Response',
 'DataValueUnit',
 'DataValueType',
 'DataValue',
 'DataValueAlt',
 'DataValueFootnoteSymbol',
 'DatavalueFootnote',
 'LowConfidenceLimit',
 'HighConfidenceLimit',
 'StratificationCategory1',
 'Stratification1',
 'StratificationCategory2',
 'Stratification2',
 'StratificationCategory3',
 'Stratification3',
 'GeoLocation',
 'ResponseID',
 'LocationID',
 'TopicID',
 'QuestionID',
 'DataValueTypeID',
 'StratificationCategoryID1',
 'StratificationID1',
 'StratificationCategoryID2',
 'StratificationID2',
 'StratificationCategoryID3',
 'StratificationID3']

In [11]:
# initial data cleanup - drop unnecessary columns and data
df = df.drop(df[df['DataValue'] == 'No'].index)
df = df.drop(df[df['DataValue'] == 'Yes'].index)
df = df.drop(columns = ['StratificationCategory2', 'Stratification2', 'StratificationCategory3', 'Stratification3'])
df = df.drop(columns = ['ResponseID', 'StratificationCategoryID2', 'StratificationID2', 'StratificationCategoryID3', 'StratificationID3'])
df = df.drop(columns = ['DatavalueFootnote', 'DataValueAlt'])
df = df.drop(columns = ['DataSource'])
df = df[df['DataValue'].notna()]
df = df.reset_index()
df = df.drop(columns = ['index'])
cvd_overall.DataValue = cvd_overall.DataValue.astype(float)

In [39]:
#load in cardiovascular disease data
cvd = df[df['Topic'] == 'Cardiovascular Disease']

In [41]:
#load in only overall data
cvd_overall = cvd[cvd['StratificationCategory1'] == 'Overall']

In [54]:
#determine datavalue unit
cvd_overall[cvd_overall.YearStart == 2018].DataValueUnit.unique()

array(['%'], dtype=object)

In [80]:
#filter by state data
cvd_overall_state_df = cvd_overall[cvd_overall.YearStart == 2018].groupby('LocationDesc').mean('DataValue').sort_values(['DataValue'], ascending = False)
cvd_overall_state_df.drop(columns = ['YearStart', 'Response', 'LocationID'])

                      YearEnd  DataValue
LocationDesc
Iowa                     2018  63.487500
New Jersey               2018  62.383333
Colorado                 2018  61.762500
North Carolina           2018  61.625000
Kansas                   2018  60.375000
Nebraska                 2018  59.650000
District of Columbia     2018  59.483333
Oklahoma                 2018  58.937500
North Dakota             2018  58.937500
Missouri                 2018  58.800000
Kentucky                 2018  58.687500
Montana                  2018  58.500000
Idaho                    2018  57.666667
Minnesota                2018  57.412500
Alaska                   2018  57.280000
Alabama                  2018  57.275000
Vermont                  2018  57.250000
Ohio                     2018  56.650000
Mississippi              2018  56.250000
Pennsylvania             2018  56.112500
New Hampshire            2018  55.737500
Maine                    2018  55.612500
Wisconsin                2018  55.550000
Maryland                 2018  55.450000
United States            2018  55.387500
Washington               2018  55.275000
West Virginia            2018  55.262500
New Mexico               2018  55.025000
Tennessee                2018  54.875000
Oregon                   2018  54.400000
Nevada                   2018  54.150000
South Dakota             2018  53.825000
Virginia                 2018  53.500000
Michigan                 2018  53.350000
Connecticut              2018  53.325000
Arizona                  2018  53.200000
South Carolina           2018  53.050000
Rhode Island             2018  53.025000
Illinois                 2018  52.712500
Delaware                 2018  52.162500
Utah                     2018  51.712500
Arkansas                 2018  51.150000
California               2018  50.925000
Louisiana                2018  49.837500
Hawaii                   2018  49.712500
Massachusetts            2018  49.675000
Georgia                  2018  48.150000
Indiana                  2018  47.400000
Texas                    2018  47.175000
Florida                  2018  46.962500
Wyoming                  2018  46.737500
New York                 2018  44.775000
Guam                     2018  44.700000
Puerto Rico              2018  31.462500

In [58]:
cvd

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
12,2015,2015,AR,Arkansas,Cardiovascular Disease,Mortality from diseases of the heart,NaN,"cases per 100,000",Crude Rate,292.2,...,300.9,Gender,Male,"(34.74865012400045, -92.27449074299966)",5,CVD,CVD1_2,CRDRATE,GENDER,GENM
118,2018,2018,ID,Idaho,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,83.5,...,94.2,Gender,Female,"(43.682630005000476, -114.3637300419997)",16,CVD,CVD10_2,CRDPREV,GENDER,GENF
121,2016,2016,TX,Texas,Cardiovascular Disease,Mortality from coronary heart disease,NaN,"cases per 100,000",Age-adjusted Rate,80.0,...,82.3,Race/Ethnicity,Hispanic,"(31.827240407000488, -99.42677020599967)",48,CVD,CVD1_3,AGEADJRATE,RACE,HIS
122,2016,2016,KY,Kentucky,Cardiovascular Disease,Mortality from coronary heart disease,NaN,Number,Number,21,...,NaN,Race/Ethnicity,Asian or Pacific Islander,"(37.645970271000465, -84.77497104799966)",21,CVD,CVD1_3,NMBR,RACE,API
140,2018,2018,MI,Michigan,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,NaN,%,Crude Prevalence,52.7,...,61.6,Overall,Overall,"(44.6613195430005, -84.71439026999968)",26,CVD,CVD10_1,CRDPREV,OVERALL,OVR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521384,2010,2010,MN,Minnesota,Cardiovascular Disease,Mortality from total cardiovascular diseases,NaN,NaN,Number,5262,...,NaN,Gender,Female,"(46.35564873600049, -94.79420050299967)",27,CVD,CVD1_1,NMBR,GENDER,GENF
522022,2010,2010,VA,Virginia,Cardiovascular Disease,Mortality from total cardiovascular diseases,NaN,"cases per 100,000",Crude Rate,223.4,...,228.1,Gender,Male,"(37.54268067400045, -78.45789046299967)",51,CVD,CVD1_1,CRDRATE,GENDER,GENM
522159,2010,2010,ID,Idaho,Cardiovascular Disease,Mortality from coronary heart disease,NaN,"cases per 100,000",Crude Rate,116.3,...,123.8,Gender,Male,"(43.682630005000476, -114.3637300419997)",16,CVD,CVD1_3,CRDRATE,GENDER,GENM
522257,2010,2010,IL,Illinois,Cardiovascular Disease,Mortality from cerebrovascular disease (stroke),NaN,NaN,Number,2119,...,NaN,Gender,Male,"(40.48501028300046, -88.99771017799969)",17,CVD,CVD1_5,NMBR,GENDER,GENM
522465,2010,2010,ID,Idaho,Cardiovascular Disease,Mortality from coronary heart disease,NaN,"cases per 100,000",Age-adjusted Rate,133.7,...,142.5,Gender,Male,"(43.682630005000476, -114.3637300419997)",16,CVD,CVD1_3,AGEADJRATE,GENDER,GENM

In [60]:
#load in only country data
usa_cvd = cvd[cvd['LocationDesc'] == 'United States']

In [64]:
#load in overall country data 
usa_cvd_overall = usa_cvd[usa_cvd['StratificationCategory1'] == 'Overall']

In [68]:
#load in overall country data as a percent
usa_cvd_overall_percent

,YearStart,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,...,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1
16598,2018,2018,US,United States,Cardiovascular Disease,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,30.1,...,33,Overall,Overall,NaN,59,CVD,CVD9_1,AGEADJPREV,OVERALL,OVR
16952,2018,2018,US,United States,Cardiovascular Disease,Influenza vaccination among noninstitutionaliz...,NaN,%,Age-adjusted Prevalence,60.6,...,61.3,Overall,Overall,NaN,59,CVD,CVD9_2,AGEADJPREV,OVERALL,OVR
18537,2018,2018,US,United States,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,82.8,...,83.8,Overall,Overall,NaN,59,CVD,CVD10_2,AGEADJPREV,OVERALL,OVR
19189,2018,2018,US,United States,Cardiovascular Disease,Pneumococcal vaccination among noninstitutiona...,NaN,%,Age-adjusted Prevalence,39.8,...,43.9,Overall,Overall,NaN,59,CVD,CVD10_1,AGEADJPREV,OVERALL,OVR
20376,2018,2018,US,United States,Cardiovascular Disease,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,60.3,...,61.1,Overall,Overall,NaN,59,CVD,CVD9_2,CRDPREV,OVERALL,OVR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443041,2011,2011,US,United States,Cardiovascular Disease,Influenza vaccination among noninstitutionaliz...,NaN,%,Crude Prevalence,45.6,...,47.0,Overall,Overall,NaN,59,CVD,CVD9_1,CRDPREV,OVERALL,OVR
487074,2011,2011,US,United States,Cardiovascular Disease,High cholesterol prevalence among adults aged ...,NaN,%,Crude Prevalence,38.4,...,38.7,Overall,Overall,NaN,59,CVD,CVD5_0,CRDPREV,OVERALL,OVR
489078,2011,2011,US,United States,Cardiovascular Disease,High cholesterol prevalence among adults aged ...,NaN,%,Age-adjusted Prevalence,33.2,...,34,Overall,Overall,NaN,59,CVD,CVD5_0,AGEADJPREV,OVERALL,OVR
489253,2011,2011,US,United States,Cardiovascular Disease,Cholesterol screening among adults aged >= 18 ...,NaN,%,Crude Prevalence,79.2,...,81.1,Overall,Overall,NaN,59,CVD,CVD4_0,CRDPREV,OVERALL,OVR
489551,2011,2011,US,United States,Cardiovascular Disease,Cholesterol screening among adults aged >= 18 ...,NaN,%,Age-adjusted Prevalence,77.9,...,79.6,Overall,Overall,NaN,59,CVD,CVD4_0,AGEADJPREV,OVERALL,OVR

In [70]:
#filter in only age-adjusted prevalence
AAP = usa_cvd_overall_percent[usa_cvd_overall_percent['DataValueType'] == 'Age-adjusted Prevalence']

In [75]:
AAP.DataValue = AAP.DataValue.astype(float)

/Users/fadl/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [77]:
#group by year
us_cvd_data = AAP.groupby('YearStart').mean()

In [79]:
us_cvd_data.drop(columns = ['Response', 'LocationID'])

           YearEnd  DataValue
YearStart
2011          2011    52.2625
2012          2012    53.7500
2013          2013    52.7500
2014          2014    54.6250
2015          2015    52.7250
2016          2016    55.5500
2017          2017    54.6875
2018          2018    53.3250

In [84]:
#explore data by race/ethnicity
cvd_race = cvd[cvd['StratificationCategory1'] == 'Race/Ethnicity']
cvd_race_2018 = cvd_race[cvd_race['YearEnd'] == 2018]

In [86]:
cvd_race_2018.DataValue = cvd_race_2018.DataValue.astype(float)

/Users/fadl/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [92]:
table_race = pd.pivot_table(cvd_race_2018, index = ['LocationDesc'], columns = ['Stratification1'], aggfunc = np.mean)
table_race.drop(columns = ['LocationID', 'YearEnd', 'YearStart'])

                               DataValue                                     \
Stratification1      Black, non-Hispanic Hispanic Multiracial, non-Hispanic
LocationDesc
Alabama                        42.850000      NaN                       NaN
Alaska                               NaN      NaN                       NaN
Arizona                              NaN      NaN                       NaN
Arkansas                       44.300000      NaN                       NaN
California                           NaN  41.6500                       NaN
Colorado                             NaN      NaN                       NaN
Connecticut                          NaN      NaN                       NaN
Delaware                             NaN      NaN                       NaN
District of Columbia           56.916667      NaN                       NaN
Florida                              NaN      NaN                       NaN
Georgia                        51.680000      NaN                       NaN
Hawaii                               NaN      NaN                     59.85
Idaho                                NaN      NaN                       NaN
Illinois                             NaN      NaN                       NaN
Indiana                              NaN      NaN                       NaN
Iowa                                 NaN      NaN                       NaN
Kansas                               NaN      NaN                       NaN
Kentucky                       60.800000      NaN                       NaN
Louisiana                      33.500000      NaN                       NaN
Maine                                NaN      NaN                       NaN
Maryland                       53.162500      NaN                       NaN
Massachusetts                        NaN      NaN                       NaN
Michigan                       26.250000      NaN                       NaN
Minnesota                            NaN      NaN                       NaN
Mississippi                    57.700000      NaN                       NaN
Missouri                             NaN      NaN                       NaN
Montana                              NaN      NaN                       NaN
Nebraska                             NaN      NaN                       NaN
Nevada                               NaN      NaN                       NaN
New Hampshire                        NaN      NaN                       NaN
New Jersey                           NaN      NaN                       NaN
New Mexico                           NaN  53.9250                       NaN
New York                       32.300000  40.9000                       NaN
North Carolina                       NaN      NaN                       NaN
North Dakota                         NaN      NaN                       NaN
Ohio                           44.750000      NaN                       NaN
Oklahoma                             NaN      NaN                       NaN
Oregon                               NaN      NaN                       NaN
Pennsylvania                         NaN      NaN                       NaN
Puerto Rico                          NaN  31.4125                       NaN
Rhode Island                         NaN      NaN                       NaN
South Carolina                 46.587500      NaN                       NaN
South Dakota                         NaN      NaN                       NaN
Tennessee                            NaN      NaN                       NaN
Texas                          40.450000  56.3000                       NaN
Utah                                 NaN      NaN                       NaN
Vermont                              NaN      NaN                       NaN
Virginia                       46.825000      NaN                       NaN
Washington                           NaN      NaN                       NaN
West Virginia                        NaN      NaN                       NaN
Wisconsin                            NaN      NaN                       NaN
Wyoming                              NaN      NaN                       NaN


Stratification1      Other, non-Hispanic White, non-Hispanic
LocationDesc
Alabama                              NaN           61.837500
Alaska                               NaN           64.050000
Arizona                              NaN           55.012500
Arkansas                             NaN           52.075000
California                           NaN           57.887500
Colorado                             NaN           60.637500
Connecticut                          NaN           51.700000
Delaware                             NaN           55.625000
District of Columbia                 NaN           76.650000
Florida                              NaN           54.525000
Georgia                              NaN           50.425000
Hawaii                         59.266667           62.960000
Idaho                                NaN           58.166667
Illinois                             NaN           54.666667
Indiana                              NaN           48.875000
Iowa                                 NaN           66.337500
Kansas                               NaN           59.837500
Kentucky                             NaN           55.575000
Louisiana                            NaN           53.525000
Maine                                NaN           56.112500
Maryland                             NaN           55.937500
Massachusetts                        NaN           50.612500
Michigan                             NaN           55.875000
Minnesota                            NaN           57.500000
Mississippi                          NaN           59.112500
Missouri                             NaN           63.037500
Montana                              NaN           57.966667
Nebraska                             NaN           60.312500
Nevada                               NaN           55.300000
New Hampshire                        NaN           55.662500
New Jersey                           NaN           68.780000
New Mexico                           NaN           53.825000
New York                       64.550000           46.012500
North Carolina                       NaN           59.762500
North Dakota                         NaN           59.537500
Ohio                                 NaN           58.312500
Oklahoma                             NaN           61.900000
Oregon                               NaN           59.700000
Pennsylvania                         NaN           55.450000
Puerto Rico                          NaN                 NaN
Rhode Island                         NaN           53.587500
South Carolina                       NaN           55.037500
South Dakota                   38.400000           53.687500
Tennessee                            NaN           55.375000
Texas                                NaN           48.287500
Utah                                 NaN           51.862500
Vermont                              NaN           57.325000
Virginia                             NaN           55.450000
Washington                           NaN           60.162500
West Virginia                        NaN           54.625000
Wisconsin                            NaN           54.612500
Wyoming                              NaN           50.642857

In [93]:
#explore data by gender
cvd_gender = cvd[cvd['StratificationCategory1'] == 'Gender']
cvd_gender_2018 = cvd_gender[cvd_gender['YearEnd'] == 2018]
cvd_gender_2018.DataValue = cvd_gender_2018.DataValue.astype(float)

/Users/fadl/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [95]:
table_gender = pd.pivot_table(cvd_gender_2018, index = ['LocationDesc'], columns = ['Stratification1'], aggfunc = np.mean)
table_gender.drop(columns = ['LocationID', 'YearEnd', 'YearStart'])

                      DataValue
Stratification1          Female       Male
LocationDesc
Alabama               61.562500  52.875000
Alaska                43.350000  50.733333
Arizona               57.425000  50.825000
Arkansas              60.328571  51.142857
California            52.687500  49.500000
Colorado              62.166667  62.512500
Connecticut           56.137500  52.037500
Delaware              56.850000  53.966667
District of Columbia  58.566667  59.283333
Florida               48.837500  47.375000
Georgia               50.212500  50.614286
Hawaii                62.833333  49.475000
Idaho                 76.175000  63.900000
Illinois              63.066667  53.116667
Indiana               47.775000  47.750000
Iowa                  65.016667  63.875000
Kansas                63.750000  55.287500
Kentucky              55.437500  61.487500
Louisiana             54.112500  46.700000
Maine                 56.112500  57.237500
Maryland              54.412500  58.425000
Massachusetts         55.766667  51.925000
Michigan              54.175000  52.737500
Minnesota             60.625000  56.937500
Mississippi           55.637500  57.312500
Missouri              66.100000  53.437500
Montana               57.450000  58.483333
Nebraska              59.225000  60.812500
Nevada                69.150000  62.250000
New Hampshire         57.333333  57.050000
New Jersey            61.200000  61.566667
New Mexico            56.700000  53.812500
New York              43.762500  44.750000
North Carolina        67.100000  58.187500
North Dakota          65.050000  57.285714
Ohio                  58.800000  55.250000
Oklahoma              58.312500  60.400000
Oregon                61.183333  48.812500
Pennsylvania          62.483333  51.587500
Puerto Rico           30.025000  41.866667
Rhode Island          58.566667  51.450000
South Carolina        54.350000  52.737500
South Dakota          60.837500  49.962500
Tennessee             57.737500  52.200000
Texas                 48.187500  48.725000
United States         56.675000  53.200000
Utah                  57.733333  49.825000
Vermont               60.633333  56.737500
Virginia              55.650000  55.200000
Washington            61.537500  54.075000
West Virginia         56.000000  55.400000
Wisconsin             62.866667  53.900000
Wyoming               57.650000  57.280000