In [94]:
# Import depndencies 
import pandas as pd 
import numpy as np 
import os

In [95]:
# Loading the files 
file_path = "objective_feature_cardio.csv"

In [96]:
# Read the data file and store it in a Pandas DataFrame.
obj_df = pd.read_csv(file_path)
obj_df.head()

   id    age  gender  height  weight cardiovascular_disease
0   0  18393  Female     168      62                     No
1   1  20228    Male     156      85                    Yes
2   2  18857    Male     165      64                    Yes
3   3  17623  Female     169      82                    Yes
4   4  17474    Male     156      56                     No

In [97]:
# Formatting the year as the whole number
obj_df['New_age'] = obj_df['age'].map("{:.0f}".format)
# Format the age /365
obj_df['New_age'] = obj_df['age'] / 365

In [98]:
# Make the New_age  whole number
obj_df['New_age'] = obj_df['New_age'].map("{:.0f}".format)

In [99]:
# replace 'age' column.
obj_df.drop('age', axis=1, inplace=True)

In [100]:
# Rearrange the columns
obj_df = obj_df[['id', 'New_age', 'gender', 'height', 'weight','cardiovascular_disease']]

In [101]:
# Rename the new 'age' column 
obj_df = obj_df.rename(columns = {"New_age":"age"}) 
obj_df.head()

   id age  gender  height  weight cardiovascular_disease
0   0  50  Female     168      62                     No
1   1  55    Male     156      85                    Yes
2   2  52    Male     165      64                    Yes
3   3  48  Female     169      82                    Yes
4   4  48    Male     156      56                     No

In [102]:
# Removing  outliers in the 'weight' coulmn that less than 30 Kg
obj_df.drop(obj_df[obj_df['weight'] < 30].index, inplace = True)

In [103]:
# Removing  outliers in the 'height' coulmn that are less than  100
obj_df.drop(obj_df[obj_df['height'] < 100].index, inplace = True)
# Removing  outliers in the 'height' coulmn that are greater than  210
obj_df.drop(obj_df[obj_df['height'] > 210].index, inplace = True)

In [104]:
# defining df.weight and df.height to calculate BMI
obj_df.weight = obj_df["weight"]
obj_df.height = obj_df["height"]

In [105]:
obj_df["BMI"] = obj_df.weight*obj_df.weight/ obj_df.height

In [106]:
# Format the data (round BMI down so that  is a whole number)
obj_df['BMI'] = obj_df['BMI'].map("{:.0f}".format)

In [107]:
obj_df.head()

   id age  gender  height  weight cardiovascular_disease BMI
0   0  50  Female     168      62                     No  23
1   1  55    Male     156      85                    Yes  46
2   2  52    Male     165      64                    Yes  25
3   3  48  Female     169      82                    Yes  40
4   4  48    Male     156      56                     No  20

In [108]:
# Converting  'height' column from cm to feet each cm = 0.032808399 foot

obj_df['height'] = round(obj_df['height']*0.0328084, 2)

In [109]:
# Converting 'weight' from kg to lb  1kg = 2.20462 lbs
obj_df['weight'] = round(obj_df['weight'] * 2.20462, 1)

In [110]:
obj_df.shape

(69963, 7)

In [111]:
obj_df.head()

   id age  gender  height  weight cardiovascular_disease BMI
0   0  50  Female    5.51   136.7                     No  23
1   1  55    Male    5.12   187.4                    Yes  46
2   2  52    Male    5.41   141.1                    Yes  25
3   3  48  Female    5.54   180.8                    Yes  40
4   4  48    Male    5.12   123.5                     No  20

In [112]:
obj_df.to_csv(r'Resources\CleanedObj.csv', index = False)